body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #2d3c49;
  display: flex;
  flex-wrap: wrap;
}

hr {
  border-width: thick;
  border-color: #7d97ad;
}

h2 {
  color: #7d97ad;
}

h2, h3, h4 {
  font-weight: bold;
}

img {
  max-width: 100%
}

a {
  color: black;
}

.title-main {
  margin-top: 20px;
}

.title-logo {
  width: 8em;
  margin-top: 15px;
}

.title-super {
  font-size: 60px;
}

.text-thin {
  font-weight: 100;
}

.text-muted {
  color: #7d97ad;
}
.red {
  min-height: 50px;
  background-color: red;
}

.yellow {
  min-height: 50px;
  background-color: yellow;
}

.green {
  min-height: 50px;
  background-color: green;
}

@media (max-width: 990px) {
  .title-super {
    font-size: 45px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 15px;
  }
  .title-logo {
    width: 6em;
  }
}
