body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #2d3c49;
}

hr {
  border-width: thick;
  border-color: #7d97ad;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

img {
  max-width: 100%
}

.title-main {
  margin-top: 20px;
}

.title-logo {
  width: 8em;
  margin-top: 15px;
}

.title-super {
  font-size: 60px;
}

.text-thin {
  font-weight: 100;
}

.text-muted {
  color: #bcbbbb;
}
.red {
  min-height: 50px;
  background-color: red;
}

.yellow {
  min-height: 50px;
  background-color: yellow;
}

.green {
  min-height: 50px;
  background-color: green;
}
